* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #FAFAFA;
}

main {
    width: 1110px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'Ibarra Real Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: -0.446429px;

    color: #33323D;
}

h2 {
    font-family: 'Ibarra Real Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.357143px;

    color: #33323D;
}

h3  {
    font-family: 'Ibarra Real Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: -0.285714px;

    color: #33323D;
}

.text__style1{
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    
    color: #33323D;
}

.text__style2{
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;

    color: #33323D;
}

.menu {
    display: flex;
    justify-content: space-between;

    margin: 60px auto 0;
    max-width: 1110px;
}

.menu__top {
    display: flex;
    align-items: center;
    gap: 42px;

    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #33323D;
}

.menu__top a {
    text-decoration: none;
}

.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 150px;    
}

.contact__tittle {
    height: 84px;
    width: 439px;
}

.btn__contact:hover { 
    background-color: #33323d;
    color: #ffffff;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 165px;
    
    width: 100%;
    height: 80px;
    background: #33323D;
}

.menu__bottom {
    display: flex;
    margin-left: 48px;
    
    width: 309px;
    height: 14px;
    gap: 43px;
}

.menu__bottom a {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    
    color: #FFFFFF;
}

.social__img {
    margin-left: 560px;
}

.social__img--twitter {
    margin: 0 16px;
}

.btn {
    height: 48px;
    width: 204px;

    border: 1px solid #33323D;
    background-color:#FAFAFA;

    font-family: 'Public Sans';
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;

    color: #33323D;
}

.btn:hover {
    color: #ffffff;
    background-color: #33323d;

}