.menu .menu__top .menu__top--home {
    color: #33323D;
}

.menu .menu__top .menu__top--portifolio {
    color:#5FB4A2;
}

.menu .menu__top .menu__top--contact {
    color: #33323D;
}

body {
    height: 100vh;
    width: 1440px;
}

.manage, .insure {
    display: flex;
    justify-content: space-between;
    
    margin: 94px 0 80px; 
}

.bookmark, .fylo {
    display: flex;
   justify-content: space-between; 
}

.bookmark, .insure {
    display: flex;
    margin-bottom: 80px;
}

.fylo {
    display: flex; 
    margin-bottom: 150px;
} 

.manage__section, .bookmark__section, .insure__section, .fylo__section {
    display: flex;
    flex-direction: column;
    justify-content:center;

    width: 430px;
    height: 500px;

    border-top: 1px solid #EAEAEB;
    border-bottom: 1px solid #EAEAEB;
}

.manage__img img, .bookmark__img img, .insure__img img, .fylo__img img {
    height: 500px;
    width: 540px;
}

.manage__title, .bookmark__title, .insure__title, .fylo__title {
    margin-top: 51px;

    font-family: 'Ibarra Real Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.357143px;

    color: #33323D;
}

.manage__text, .bookmark__text, .insure__text, .fylo__text {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    mix-blend-mode: normal;
    opacity: 0.8;

    margin-top: 28px;
    margin-bottom: 24px;

    color: #33323D;
}