.menu .menu__top .menu__top--home {
    color: #33323D;
}

.menu .menu__top .menu__top--portifolio {
    color:#5FB4A2;
}

.menu .menu__top .menu__top--contact {
    color: #33323D;
}

main {
    margin-top: 94px;
    margin-bottom: 115px;
}
.bookmark__img img {
    margin-bottom: 115px;
    height: 500px;
    width: 1110px;
}

.bookmark__apresentation {
    height: 498px;
    width: 350px;

    padding: 48px 0;
    border-top: 1px solid rgba(51, 50, 61, 0.15);
    border-bottom: 1px solid rgba(51, 50, 61, 0.15); 
}

.bookmark__apresentation1 p {
    margin-top: 29px;
    margin-bottom: 53px;
}

.bookmark__text3 {
    margin-top: 16px;
    margin-bottom: 32px;
}

.bookmark__project {
    display: flex;
    flex-direction: column;
   
    height: 1192px;
    width: 635px;

    gap: 40px;
}

.bookmark__project-img img {
    height: 400px;
    width: 635px;
}

.bookmark__project-img1 {
    margin-top: 28px;
    margin-bottom: 32px;
}

.bookmark__principal {
    display: flex;
    gap: 125px;

    margin-bottom: 64px;
}

.bookmark__text2, .bookmark__text3 {
    color: #5FB4A2;
}

.bookmark__project-text1 {
    margin-top: 28px;
}

.bookmark__project-img {
    display: flex;
    flex-direction: column;  
}

.bookmark__navegation {
    display: flex;
    justify-content: space-between;

    border-top: 1px solid rgba(51, 50, 61, 0.15);
    border-bottom: 1px solid rgba(51, 50, 61, 0.15);
}

.bookmark__navegation img {
    width: 8px;
    height: 16px;
}

.bookmark__navegation-left, .bookmark__navegation-right {
    display: flex;
    align-items: center;
}

.bookmark__navegation-text-left {
    padding: 32px 0 32px 32px;
}

.bookmark__navegation-text-right {
    padding: 32px 32px 32px 0;
}

.bookmark__navegation-text-left p, .bookmark__navegation-text-right p {
    opacity: 0.5;  
}